name: Ci

on:
  pull_request:
    branches: [main]

jobs:
  tests:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install uv
        run: curl -LsSf https://astral.sh/uv/install.sh | sh

      - name: Set up Python 3.10
        run: uv python install

      - name: Install dependencies
        run: uv sync --dev

      - name: Run tests
        run: uv run pytest
